<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="/tabs/minhasacoes"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar ação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="createActionForm" (submit)="createAction()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input type="text" formControlName="actionTitle"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descricao</ion-label>
      <ion-input type="text" formControlName="actionDescription"></ion-input>
    </ion-item>

    <ion-item>
      <label>
        <!--<input formControlName="actionImage" (change)="uploadImage($event)" type="file" accept="image/*">-->
        <input formControlName="actionImage" type="file" (change)="setImageAction($event)"  accept="image/*">
      </label>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!createActionForm.valid">
      Salvar
    </ion-button>
  </form>
</ion-content>