<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pesquisa">
      <ion-icon name="search"></ion-icon>
      <ion-label>Pesquisa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="destaques">
      <ion-icon name="star"></ion-icon>
      <ion-label>Destaques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inscricoes">
      <ion-icon name="bookmark"></ion-icon>
      <ion-label>Inscrições</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="opcoes">
      <ion-icon name="more"></ion-icon>
      <ion-label>Opções</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
