<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button fill="clear" (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
    <ion-title>Participar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" class="submit-btn" (click)="participationAsVisitant()" type="submit">
    Visitante
  </ion-button>

  <ion-button expand="block" class="submit-btn" (click)="participationAsVolunteer()" type="submit">
    Voluntário    
  </ion-button>

</ion-content>