<ion-header>
</ion-header>

<ion-content padding>
  <h2>Olá, <b>Bruno</b></h2>
  <p>Estas são as ações que você se inscreveu para os próximos dias:</p>


  <ion-list>
    <ion-item>
      <ion-label>Ação 1</ion-label>
      <ion-button>Ver</ion-button>
      <ion-button>Cancelar</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Ação 2</ion-label>
      <ion-button>Ver</ion-button>
      <ion-button>Cancelar</ion-button>
    </ion-item>
  </ion-list>

  <p>Encontre novas ações:</p>

  <ion-searchbar animated placeholder="Pesquisar"></ion-searchbar>
</ion-content>