<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  div {
    margin-top: 20px;
    margin-bottom: 22px;
    margin-left: 20px;
    margin-right: 20px;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-label>Olá, Bruno</ion-label>
    <p>Estão são as ações que você se inscreveu para os próximos dias.</p>

    <ion-label>Encontre novas ações</ion-label>

    <ion-searchbar animated placeholder="Pesquisar"></ion-searchbar>

  </div>
</ion-content>